

// Transform bars to make an X when there's class 'open' (burger active)
.nav-toggle.open{
  .nav-toggle__bar{
    &.top{
      opacity: 0;
      transform: translate3d(0, -15px, 0);
    }
    &.middle-top{
      transform: rotateZ(45deg);
    }
    &.middle-bottom{
      transform: rotateZ(-45deg);
    }
    &.bottom{
      opacity: 0;
      transform: translate3d(0, 15px, 0);
    }
  }
}

// -------------------------------- Nav Toggle -------------------------------- //

.nav-toggle{
  position: relative;
  float: left;
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  //border: 1px solid magenta;
  //border: 1px solid black;
  overflow: hidden;
  cursor: pointer;

  &__bar{
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 14px;
    height: 2px;
    margin: -1px 0 0 -7px;
    background: $colorBlack;
    transition: all 150ms;
    &.top{
      margin-top: -5px;
    }
    &.bottom{
      margin-top: 3px;
    }
  }
  @include for-tablet-portrait-up(){
    display: none;
  }
}