$google-icons: (
        'menu': "\E5D2",
        'notifications': "\E7F4",
        'domain': "\E7EE",
        'school': "\E80C",
        'settings': "\E8B8",
        'search': "\E8B6",
        'grade': "\E885",
        'star_border': "\E83A",
        'explore': "\E87A",
        'done': "\E876",
        'clear': "\E0B8",
        'add': "\E145",
        'account_circle': "\E853",
        'room': "\E8B4",
        'list': "\E896",
        'local_shipping': "\E558",
        'remove': "\E15B",
        'expand_more': "\E5CF",
        'expand_less': "\E5CE",
        'verified_user': "\E8E8",
        'schedule': "\E8B5",
        'favorite': "\E87D",
        'favorite_border': "\E87E",
        'alarm': "\E855",
        'directions': "\E52E",
        'more_vert': "\E5D4",
        'more_horiz': "\E5D3",
        'delete': "\E872",
        'play_circle_outline': "\E039",
        'mood': "\E7F2",
        'mood_bad': "\E7F3",
        'lock': "\E897",
        'add_circle': "\E147",
        'refresh': "\E5D5",
        'arrow_drop_down': "\E5C5",
        'arrow_drop_up': "\E5C7",
        'group_work': "\E886",
        'cloud_upload': "\E2C3",
        'navigate_next': "\E409",
        'navigate_before': "\E408",
        'cancel': "\E5C9",
        'email': "\E0BE",
        'phone': "\E0CD",
        'credit_card': "\E870",
        'reload': "\E5D5",
        'add_circle_outline': "\E148",
        'keyboard_arrow_right': "\E315",
        'keyboard_arrow_left': "\E314",
        'phonelink_ring': "\E0DD",
        'layers': "\E53B",
        'trending_up': "\E8E5",
        'trending_down': "\E8E3",
        'euro_symbol': "\E926",
        'add_a_photo': "\E439",
        'warning': "\E002",
        'exit_to_app': "\E879",
        'people': "\E7FB",
        'people_outline': "\E7FC",
        'supervisor_account': "\E8D3",
        'perm_identity': "\E8A6",
        'language': "\E894",
        'create_new_folder': "\E2CC",
        'view_carousel': "\E8EB",
        'business': "\E0AF",
        'sms': "\E625",
        'remove_red_eye': "\E417",
        'thumb_up': "\E8DC",
        'radio_button_unchecked': "\E836",
        'check_circle': "\E86C",
        'mail_outline': "\E0E1",
        'person': "\E7FD",
        'do_not_disturb_alt': "\E611",
        'swap_horiz': "\E8D4",
        'playlist_add_check': "\E065",
        'gavel': "\E90E",
        'file_download': "\E2C4",
        'assistant': "\E39F",
        'folder_special': "\E617",
        'sentiment_very_satisfied': "\E815",
        'important_devices': "\E912",
        'question_answer': "\E8AF",
        'payment': "\E8A1",
        'block': "\E14B",
        'cloud_off': "\E2C1",
        'error': "\E000",
        'error_outline': "\E001",
        'call': "\E0B0",
        'call_made': "\E0B2",
        'call_merge': "\E0B3",
        'call_missed': "\E0B4",
        'call_missed_outgoing': "\E0E4",
        'call_received': "\E0B5",
        'call_split': "\E0B6",
        'clear_all': "\E0B8",
        'comment': "\E0B9",
        'location_on': "\E0C8",
        'location_off': "\E0C7",
        'security': "\E32A",
        'business_center': "\EB3F"
);

@each $icon-modern, $icon-legacy in $google-icons {
  .material-icons {
    &.#{$icon-modern}:before {
      content: '#{$icon-legacy}';
    }
  }
}

.material-icons {
  vertical-align: middle;
  .sub-menu & {
    font-size: 28px;
  }
}
