
.icon-facebook {
  &:hover {
    color: $color-facebook;
  }
}

.icon-twitter {
  &:hover {
    color: $color-twitter;
  }
}

.icon-googleplus {
  &:hover {
    color: $color-googleplus;
  }
}

.icon-search {
  &:hover {
    color: $colorBrand;
  }
}